<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cádiz</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/list/servicios">Servicios</ion-button>
      <ion-button routerLink="/list/restaurantes">Restaurantes</ion-button>
      <ion-button routerLink="/list/hoteles">Hoteles</ion-button>
      <ion-button routerLink="/list/clinicas">Clínicas</ion-button>
      <ion-button routerLink="/list/perfil" color="tertiary">Perfil</ion-button>
      <ion-button routerLink="/list/datos" color="medium">Datos</ion-button>
      <ion-button routerLink="/cliente" color="success">Cliente</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <div class="controls-row">
      <ion-button size="small" (click)="incrementFromParent()">Incrementar</ion-button>
      <span *ngIf="milestoneMsg">{{ milestoneMsg }}</span>
    </div>

    <app-counter [count]="parentCount" (milestone)="onMilestoneReached($event)"></app-counter>

    <ion-item>
      <ion-input type="number" label="Valor 1" [(ngModel)]="valor1"></ion-input>
      <ion-input type="number" label="Valor 2" [(ngModel)]="valor2"></ion-input>
    </ion-item>

    <app-calculadora
      [valor1]="valor1"
      [valor2]="valor2"
      (resultados)="actualizarResultados($event)">
    </app-calculadora>

    <div class="resultados">
      <p>Suma: {{ resultados.suma }}</p>
      <p>Resta: {{ resultados.resta }}</p>
      <p>Multiplicación: {{ resultados.mult }}</p>
      <p>División: {{ resultados.div }}</p>
    </div>

  </ion-toolbar>
</ion-footer>
